* {
    /* -webkit-appearance: none; */
    font-family: Arial, sans-serif;
    font-size: small;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

body .center {
    text-align: center;
}

.nav a{
    text-decoration: none;
    color: black;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
    padding-right: 15px;
    margin-right: 90px;
}

.right img.app { 
    height: 25px;
    width: auto;
    position: absolute;
    margin-left: 20px;
    top: 12px;
}

img.me {
    position: absolute;
    border-radius: 50%;
    top: 9px;
    margin-left: 53px;
}


header {
    padding-top: 109px;
}

header img {
    height: 92px;
    width: 272px;
}

nav{
    word-spacing: 1em;
    padding: 15px 0 0 15px;
    font-size: 13px;
    opacity: 0.75; 
}

a:hover{
    text-decoration: underline;
}

#search{
    border: 1px solid lightgray;
    border-radius: 24px;
    box-shadow: 0;
    width: 582px;
    height: 44px;
    margin: 10px auto;
    display: flex;
}

#search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

form input {
    border-style: none;
    flex: 1;
    height: 40px;
    outline: none;
}

form img{
    padding: 10px;
    background-size: 24px;
    display: flex;
}

.button input {
    display: inline-flex;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 16px;
    margin: 11px 4px;
}

.button input:hover{
    border: 1px solid #c6c6c6;
    color: black;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

footer {
    bottom: 0;
    position: absolute;
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px solid #c6c6c6;
}

.fbar{
    word-spacing: 2rem;
    padding-left: 27px;
    line-height: 35px;
}

.fbar a{
    color: #5F6368;
}
